<% layout('layouts/boilerplate') %> 
<div class="container">

    <% for(user of users.following){ %> 

        <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title"><%= user.username %> </h5>
              <form action="/users/<%= user.username %>/follow?_method=DELETE " method="post">
                <button class="btn btn-primary">Unfollow</button>
              </form>
             
            </div>
          </div>
        <% } %> 
</div>